.designTopBar {
    position: relative;
    width: 100%;
    height: 48px;
    box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.05);
  }
  .abort-edit {
    padding: 10px 0 10px 26px;
    cursor: pointer;
  }
  .preview-save-btns {
    width: 250px;
    padding-right: 40px;
    text-align: right;
  }
  .preview-save-btns .btn {
    min-width: 75px;
  }
  .preview-save-btns .btn + .btn {
    margin-left: 22px;
  }
  .main-decoration-module {
    width: 100%;
    height: calc(100% - 48px);
    position: relative;
  }
  .left-choose-container {
    width: 120px;
    padding-top: 10px;
    left: 0;
    color: #cdd3e6;
    background-color: #23263e;
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    height: 100%;
    overflow-y: auto;
  }
  .app-aside-item {
    height: 40px;
    font-size: 0;
    cursor: pointer;
  }
  .aside-item-main {
    margin: 0 auto;
    width: 80%;
    min-width: 120px;
  }
  .aside-item-icon {
    display: inline-block;
    margin-right: 8px;
    width: 32px;
    text-align: right;
    font-size: 12px;
  }
  .aside-item-title {
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
  }
  .app-aside-item:hover {
    background: #2a75ed;
    color: #fff;
  }
  .center-preview-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 120px;
    right: 292px;
    height: 100%;
    padding-top: 20px;
    overflow-y: auto;
    background-color: var(--main-bg-color);
  }
  .center-preview-container.previewing-container {
    background-color: #f5f6f9;
    padding-top: 0;
    left: 0;
    right: 0;
  }
  .main-preview-container {
    margin-left: 70px;
    padding-bottom: 100px;
    min-height: 100%;
    width: 1280px;
    box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.05);
    background-color: #fff;
  }
  @media only screen and (max-width: 1599px) {
    .main-preview-container {
      margin-left: 50px;
      width: 900px;
    }
  }

  .main-preview-container .app-mian-drag {
    min-height: 400px;
  }
  .pre-container .main-preview-container {
    width: auto;
    /* padding-top: 72px; */
    padding-top: 20px;
    margin: 0 auto;
    background: transparent;
    box-shadow: none;
  }
  .pre-container .main-preview-container .top-nav-container {
    position: fixed;
    width: 100%;
    top: 48px;
    right: 0;
    left: 0;
    z-index: 50;
  }
  .right-edit-container {
    width: 292px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;
    box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.05);
    background-color: #fff;
  }
  .component-layout {
    padding: 16px 26px;
    position: relative;
    border: 2px dashed transparent;
    cursor: move;
  }
  @media only screen and (max-width: 1599px) {
    .component-layout {
      padding: 10px 15px;
    }
  }

  .component-layout:hover,
  .component-layout.edit-state-container:hover,
  .component-layout.active {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    border: 2px dashed #2878f0;
  }
  .xjs_flex_container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
.xjs_flex_container > * {
    flex: 1 100%;
    max-width: 100%;
    min-height: 100px;
}
.previewing-container .xjs_flex_container > * {
    min-height: auto;
}
.xjs_flex_aside_left.theme2,
.xjs_flex_aside_left.theme3,
.xjs_flex_aside_right.theme2,
.xjs_flex_aside_right.theme3 {
    width: 31.8%;
    flex: 0 31.8%;
}
.xjs_flex_aside_left.theme4,
.xjs_flex_aside_right.theme4 {width: 23.2%;flex: 0 23.2%;}
.xjs_flex_aside_middle.theme2,
.xjs_flex_aside_middle.theme3 {width: 68.1%;flex: 1;}
.xjs_flex_aside_middle.theme4 {width: 53.4%;flex: 1;}
.previewing-container .xjs_content-title span,
.previewing-container .xjs_module_list-news-head span {font-size: 16px;}
.previewing-container .xjs_media-body h5 {font-size: 16px;}
.previewing-container .xjs_media-text {font-size: 13px;}
.previewing-container .xjs_media-pic {width: 170px;max-width: 40%;}
.previewing-container .xjs_module_teacher-position {font-size: 13px;}
.previewing-container .xjs_module_teacher-contact {font-size: 14px;}
.app-mian-drag .editBtns {position: absolute;top: 0;right: 0;z-index: 5;display: none;}
.component-layout:hover .editBtns, .component-layout.active .editBtns{display: block;}
.right-edit-container .header{height: 70px;align-items: center;padding-left: 20px;font-size: 16px;font-weight: 600;}
.right-edit-container .editorItem{margin: 0px 20px 24px 20px;padding-top: 24px;}
.right-edit-container .editorWrap{margin: 16px 0px;padding: 12px;background: #F6F6F6;}
.right-edit-container .graphicCard{position: relative;padding: 10px 8px 12px;background: white;border: 1px solid #fff;}
.right-edit-container .graphicCard:hover{box-shadow: 0px 2px 13px 0px rgba(213, 212, 212, 0.5);border-color: #e0e0e0;}
.right-edit-container .graphicCard .close{display: none;position: absolute;top: 0;right: 0;-webkit-transform: translate(50%, -50%);transform: translate(50%, -50%);color: #ccc;}
.right-edit-container .graphicCard:hover .close{display: block;cursor: pointer;}
.right-edit-container .graphicCard .imgWrap{display: block;position: relative;height: 100px;cursor: pointer;}
.right-edit-container .graphicCard .imgWrap img{display: block;width: 100%;height: 100%;background: url('../assets/images/bg_addimg.jpg') center no-repeat;}
.right-edit-container .graphicCard .modify_image{position: absolute;left: 0;bottom: 0;width: 100%;height: 20px;line-height: 20px;background:rgba(0, 0, 0, 0.5);font-size: 12px;text-align: center;color: #fff;}












.sortable-placeholder {
    background: rgba(255, 105, 0, 0.2);
}